.body {
    display: flex;
}
.jumbotron {
    display:flex;
    background-color: rgb(255, 217, 246);
    box-shadow: 0 5px 10px #b3b3b3;
    width: 80%;
    margin: auto;
    
}


.card {

    background-color: #fff;
    background-clip: border-box;
    
    border-radius: .25rem;
    box-shadow: 0 5px 10px #b3b3b3;
    transition: 2s ease-out;
    z-index: 2;
}

.card-body {
    padding: 1rem;
}

.card:hover {
    transform: scale(1.5);
    transition: 1s ease-in-out;
}

footer {
    padding: 2rem;
    display: block;
    background-color: rgb(255, 217, 246);
    box-shadow: 0 -5px 10px #b3b3b3;
}
div.a {
    height: 5%;
    transition: .7s;
}

div.a:hover {
    height: 10%;
    transform: rotate(-7deg);
    transition: .5s;
}

.carousel {
    box-shadow: 0 5px 10px #b3b3b3;
}

div.b
    .btn {
        color: white;
        background-color: rgb(255, 163, 255);
        border-color: rgb(253, 232, 232);
        border-width: 3px;
        box-shadow: 4px 5px 20px #c0c0c0;
        font-weight: bold; 
    }

.btn:hover {
        transform: rotate(-7deg);
}

#bbByLuna {
    -webkit-filter: drop-shadow(0 5px 10px #8a8a8a);
    filter: drop-shadow(0 5px 10px #8a8a8a);
}

.site-footer {
    width: 80%;
    margin: auto;
}

